.svg-item {
    /* width: 30%; */
    font-size: 16px;
    /* margin: 0 auto; */
    animation: donutfade 1s;
}

/* this applies to the whole svg item wrapper */
/* @keyframes donutfade {
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
} */

/* @media (min-width: 992px) {
    .svg-item {
        width: 30%;
    }
} */

.donut-ring {
    stroke: red;
}

/* .donut-segment {
    transform-origin: center;
    stroke: #FF6200;
} */

.donut-segment-2 {
    stroke: rgb(21 151 207);
    animation: donut1 3s;
}

/* .donut-segment-3 {
    stroke: #d9e021;
    animation: donut2 3s;
}

.donut-segment-4 {
    stroke: #ed1e79;
    animation: donut3 3s; */

/* 
.segment-1{fill:#ccc;}
.segment-2{fill:aqua;}
.segment-3{fill:#d9e021;}
.segment-4{fill:#ed1e79;} */

.donut-percent {
    animation: donutfadelong 1s;
}

@keyframes donutfadelong {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes donut1 {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 100, 0;
    }
}

/* @keyframes donut2 {
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 30, 70;
    }
}

@keyframes donut3{
    0% {
        stroke-dasharray: 0, 100;
    }
    100% {
        stroke-dasharray: 1, 99;
    }
} */
/* 
.donut-text {
    font-family: Arial, Helvetica, sans-serif;
    fill: #FF6200;
} */
.donut-text-1 {
    fill: rgb(21 151 207);
}
/* .donut-text-2 {
    fill: #d9e021;
}
.donut-text-3 {
    fill: #ed1e79;
} */

/* .donut-label {
    font-size: 0.28em;
    font-weight: 700;
    line-height: 1;
    fill: #000;
    transform: translateY(0.25em);
} */

.donut-percent {
    font-size: 0.5em;
    line-height: 1;
    transform: translateY(0.5em);
    font-weight: bold;
}

.donut-data {
    font-size: 0.15em;
    font-weight: bold;
    line-height: 1;
    transform: translateY(0.5em);
    text-align: center;
    text-anchor: middle;
    color:#666;
    fill: #666;
    animation: donutfadelong 1s;
}




/* ---------- */
/* just for this presentation */

/* .svg-item {
  text-align:center; 
  max-width:30%;
  display:inline-block;
} */