body {
    /* background-color:white; */
    /* text-align: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.padding {
    /* padding: rem !important */
}

.signup-form {
    /* border: 2px solid black; */
    background-color: #fff;
    /* padding: 45px; */
    border-radius: 1px;
    /* width: 100%; */
    /* text-align: center; */
    /* border: 1px red solid ; */
}

h2 {
    font-size: 36px;
    letter-spacing: 0.08em;
    text-align: center;
}

.signup-form {
    /* border: 1px rgb(255, 8, 0) solid; */
    font-size: 16px;
    
    /* padding: 10px 15px; */
    /* color: rgb(102, 96, 96); */
    background-color: #fff;
    /* border-radius: 3px; */
    /* margin-top: 3%; */
    /* width: 100%; */
    /* padding: 10%; */
    
}

.form-group {
    /* border: 3px blue solid; */
    font-size: 16px;
    padding: 10px 10px;
    color: #555;
    background-color: #fff;
    /* border-radius: 3px; */
    /* margin-top: 3%; */
    /* width: 100%; */
    
}

.signup-form input {
    border: 1px solid #eee;
    padding: 3%;
    height: 25px;
    width: 93%;
    box-shadow: none !important
    
} 

.btn-blue {
    background: rgb(21 151 207);
    padding: 10px 28px;
    border: 2px solid #44c5ee;
    color: #fff;
    border-radius: 50px;
    font-weight: 700;
    letter-spacing: 0.08em;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    margin: 5% 0%;
    width: 100%;
    height: 4em;
    /* box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6); */
    outline: none !important
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {
    background: #fff;
    color: #496174
}


/* DASHBOARD PAGE CSS */

.donut {
    display: flex; justify-content: center; align-items: center; padding-left: 2%;
}

#present{
    color: rgb(21 151 207);
}
#absent{
    color: red;
    
}

/* COURSES PAGE CSS */

.styled-table {
    width: 80%;
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    /* min-width: 750px; */
    /* max-width: 630px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: rgb(21 151 207);
    color: #ffffff;
    text-align: left;
    border-radius: 100px;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid rgb(149, 175, 185);
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(21 151 207);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

table tbody tr td a{
    text-decoration: none;
}



